<div id="task_<%= task.id %>">
  <div class="d-flex flex-column mb-3">
    <div class="card p-2 border-3">
      <div class="card-body p-0 d-flex">
        <div class="card-image p-2" style="width: 88px">
          <% if task.pet.photo.attached? %>
            <%= cl_image_tag task.pet.photo.key, class: "rounded-circle img-fluid", style: "object-fit: cover; width: 60px; height: 60px;" %>
          <% else %>
            <%= image_tag asset_path("default-avatar.jpg"), class: "rounded-circle img-fluid", style: "object-fit: cover; width: 60px; height: 60px;" %>
          <% end %>
        </div>
        <div class="card-details p-2 flex-fill">
          <div class="d-flex justify-content-between">
            <h5 class="mb-3"><strong><%= task.title.capitalize %></strong></h5>
            <% if task.completed && session[:last_completed_by].present? %>
              <strong>Completed by: <%= session[:last_completed_by] %></strong>
            <% end %>
            <%= simple_form_for task, method: :patch, data: { turbo: true } do |f| %>
              <%= f.input :completed, as: :boolean, label: false, input_html: { onchange: "this.form.submit();", class: "completed-check" } %>
            <% end %>
          </div>
          <div class="p-2 d-flex justify-content-between">
            <h6 class="description"><%= task.description.capitalize %></h6>
            <%= task.due_date.strftime("%B %d, %Y") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
