<%# Create new Pet %>
<div class="container">
  <h1>Pets#new</h1>
  <p>Find me in app/views/pets/new.html.erb</p>
  <div class="pet-create-form">
    <%= simple_form_for [@family, @pet] do |f| %>
      <%= f.input :name %>
      <%= f.input :age %>
      <%= f.input :gender %>
      <%= f.input :color %>
      <%= f.input :birthdate %>
      <%= f.input :species %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
