<div class="container border border-5">
  <div class="top-info d-flex justify-content-around align-items-center mt-3">
    <%= link_to family_path(current_user.user_families.take.family_id) do %>
      <i class="fa fa-arrow-left"></i>
    <% end %>
    <h1>Pet Details</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-ellipsis-v"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <%= link_to "Add Pet", "#", class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Edit Pet", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Delete Pet", "#", class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
  <div class="container mt-3 mb-5 d-flex justify-content-center align-items-center">
    <div class="card justify-content-center align-items-center ">
      <div class="upper">
        <%= image_tag "test-banner3.jpg", class: "img-fluid", alt: "back-ground-profile-img" %>
      </div>
      <div class="user text-center">
        <div class="profile">
          <%= image_tag "test-avatar.jpeg", class: "rounded-circle mt-2", width: 140 %>
        </div>
      </div>
      <div class="mt-4 text-center">
        <h4 class="mb-1"> <%= @pet.name %></h4>
        <span class="text-muted d-block mb-2"><%= @pet.age %> Years old</span>
        <span class="text-muted d-block mb-2"><i class="fa-solid fa-cake-candles"></i> <%= @pet.birthdate.strftime("%B %d, %Y")  %></span>
        <div class="d-flex justify-content-around align-items-center my-4 mx-3 gap-5">
          <div class="stats">
            <h6 class="mb-0"><i class="fa-solid fa-palette"></i>Color</h6>
            <span><%= @pet.color.capitalize %></span>
          </div>
          <div class="stats">
            <h6 class="mb-0"><i class="fa-solid fa-paw"></i>Species</h6>
            <span><%= @pet.species.capitalize %></span>
          </div>
          <div class="stats">
            <h6 class="mb-0"><i class="fa-solid fa-venus-mars"></i>Gender</h6>
            <span>  <%= @pet.gender.capitalize %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%# This will place the tasks below %>
<div class="container">
  <%= render "tasks/tasks", tasks: @tasks, family: @family %>
</div>
