<% current_family = current_user&.current_family_id.present? ? Family.find_by(id: current_user.current_family_id) : nil %>
<footer class="fixed-bottom py-1" style="left: 0; width: 100%; height: 69px; background: rgb(255, 255, 255); display: flex; justify-content: space-around; box-shadow: 0 -2px 6px rgba(0,0,0,0.1); color: #283618;">
  <!-- Home -->
  <div style="text-align: center;">
    <% home_path = user_signed_in? ? families_path : root_path %>
    <%= link_to home_path, style: "color: #283618; text-decoration: none;" do %>
      <i class="fa-solid fa-home fa-xm <%= current_page?(home_path) ? 'text-success' : 'text-muted' %>"></i>
      <p class="<%= current_page?(home_path) ? 'text-success' : 'text-muted' %>" style="margin: 0; font-size: 14px;">Home</p>
    <% end %>
  </div>
  <!-- Family -->
  <div style="text-align: center;">
    <% family_path_target = (user_signed_in? && current_user.families.present? && current_family) ? family_path(current_family) : "#" %>
    <%= link_to family_path_target, style: "color: #283618; text-decoration: none;" do %>
      <i class="fa-solid fa-people-roof fa-xm <%= current_family.present? && current_page?(family_path(current_family)) ? 'text-success' : 'text-muted' %>" style="font-size: 20px;"></i>
      <p class='<%= current_family.present? && current_page?(family_path(current_family)) ? 'text-success' : 'text-muted' %>' style="margin: 0; font-size: 14px;">Family</p>
    <% end %>
  </div>
  <!-- Memories -->
  <div style="text-align: center;">
    <% memories_path_target = (user_signed_in? && current_user.families.present? && current_family) ? family_memories_path(current_family) : "#" %>
    <%= link_to memories_path_target, style: "color: #283618; text-decoration: none;" do %>
      <i class="fa-solid fa-camera-retro fa-xm <%= current_family.present? && current_page?(family_memories_path(current_family)) ? 'text-success' : 'text-muted' %>" style="font-size: 20px;"></i>
      <p class="<%= current_family.present? && current_page?(family_memories_path(current_family)) ? 'text-success' : 'text-muted' %>" style="margin: 0; font-size: 14px;">Memories</p>
    <% end %>
  </div>
  <!-- Map -->
  <div style="text-align: center;">
    <% map_path_target = user_signed_in? && current_user.families.present? ? locations_path : "#" %>
    <%= link_to map_path_target, style: "color: #283618; text-decoration: none;" do %>
      <i class="fa-solid fa-location-dot fa-xm <%= current_page?(locations_path) ? 'text-success' : 'text-muted' %>" style="font-size: 20px;"></i>
      <p class="<%= current_page?(locations_path) ? 'text-success' : 'text-muted' %>" style="margin: 0; font-size: 14px;">Map</p>
    <% end %>
  </div>
</footer>
