<div class="text-center my-3 futuristic-title">
  <%= render 'memories/header', family: @family %>
</div>
<div class="container mb-5">
  <div class="p-3 row justify-content-center" id="input" data-controller="scroll-to-bottom"
    style="overflow-y: auto; max-height: 80vh; scroll-behavior: smooth;">
    <div class="col-12 col-md-10 col-lg-8">
      <div class="text-center mb-4">
      </div>
      <%= turbo_stream_from "family_#{@family.id}_memories" %>
      <div id="memories" class="memories">
        <% @memories.each do |memory| %>
          <%= render partial: "memories/memory", locals: { memory: memory, current_user_id: current_user.id } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div  class="mt-5 mx-2" >
  <%= render "memories/input", family: @family, memory: @memory %>
</div>
<%# <%= render 'memories/memory', memory: memory %>
