<h1 class="text-center my-3">Memories</h1>
<div class="container p-5" id="input" data-controller="scroll-to-bottom"
style="overflow-y: auto; max-height: 80vh; scroll-behavior: smooth;">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <div class="text-center mb-4">
        <%= render 'memories/header', family: @family %>
      </div>
      <%= turbo_stream_from "family_#{@family.id}_memories" %>
      <div id="memories" class="memories">
        <% @memories.each do |memory| %>
          <%= render partial: "memories/memory", locals: { memory: memory, current_user_id: current_user.id } %>
        <% end %>
      </div>
      <div  class="mt-4">
        <%= render "memories/input", family: @family, memory: @memory %>
      </div>
    </div>
  </div>
</div>
<%# <%= render 'memories/memory', memory: memory %>
